.container {
    width: 100%;
    height: 8%;
    display: flex;
    background-color: rgb(236, 236, 236);
    box-sizing: border-box;
    padding: 5px;
  }
  
  .title {  
    width: 100%;
    text-align: center;
  
  }
  